@font-face {
    font-family: 'OpenSans Regular';
    src: local("Open Sans"), url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Bold';
    src: local("Open Sans"), url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    padding-top: 25px;
    padding-bottom: 147px;
    min-width: 1200px;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top; 
    background-size: cover;
    background-color: #666666;
    position: relative;
}

.header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.container-header {
    z-index: 1;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 125px;
}

.header-logo {
    width: 179px;
    height: 41px;
} 

.menu-list {
    display: flex;
    flex-wrap: wrap;
}

.menu-list-item {
    list-style-type: none;
}

.menu-list-item:nth-child(n+2) {
    margin-left: 35px;
}

.menu-link {
    font-family: "OpenSans Regular", sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
}

.menu-link::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    line-height: 1;
    background-color: #ffffff;
    transition: width 0.4s ease-in-out
}

.menu-link:hover::after {
    width: 100%;
}

.intro-heading {
    text-align: center;
    font-family: "OpenSans Bold", sans-serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 75px;
    color: #ffffff;
    text-transform: uppercase;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.cards {
   width: 778px;
   margin-right: 120px;
}

.card {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.card:nth-child(n+2) {
    margin-top: 60px;
}

.card-image {
    margin-right: 30px;
    min-width: 380px;
    min-height: 294px;
    background-color: #eff5f1
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.category-list-item {
    vertical-align: top;
}

.category-list-item:nth-child(n+2) {
    margin-left: 19px;
}

.category-link {
    font-family: "OpenSans Bold", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
}

.category-link::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    line-height: 1;
    background-color: #b59f5b;
    transition: width 0.4s ease-in-out
}

.category-link:hover::after {
    width: 100%;
}

.card-title {
    margin-bottom: 20px;
}

.card-title-link {
    font-family: "OpenSans Bold", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0f0d0e;
    text-transform: uppercase;
}

.card-title-link:hover {
    color: #b59f5b;
}

.card-meta {
    margin-bottom: 20px;
}

.card-meta-date {
    font-family: "OpenSans Regular", sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #888888
}

.card-meta-author {
    margin-left: 15px;
    font-family: "OpenSans Bold", sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    color: #0f0d0e;
}

.card-preview {
    margin-top: 15px;
}

.preview {
    font-family: "OpenSans Regular", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
}

.sidebar {
    width: 272px;
}

.new-posts {
    margin-bottom: 60px;
}

.header-new-posts, .header-subscribe, .header-tags, .header-categories {
    padding-bottom: 45px;
    position: relative;
}

.new-posts-title, .subscribe-title, .tags-title, .categories-title {
    font-family: "OpenSans Bold", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 13px;
    color: #0f0d0e;
    text-transform: uppercase;
}

.new-posts-title:after, .subscribe-title::after, .tags-title::after, .categories-title::after {
    content: "";
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 66px;
    background-color: #b59f5b;
    opacity: 0.5;
}

.post-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.post-list:nth-child(n+3) {
    margin-top: 23px;
}

.post-list-image {
    margin-right: 20px;
    min-width: 70px;
    min-height: 70px;
    background-color: #eff5f1;
    float: left;
}

.post-list-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    vertical-align: top;
    line-height: 10px;
}

.post-list-data {
    font-family: "OpenSans Regular", sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #888888;
}

.post-list-title {
    margin-top: 6px;
}

.new-post-link {
    font-family: "OpenSans Bold", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #0f0d0e;
    text-transform: uppercase;
}

.new-post-link:hover {
    color: #b59f5b;
}

.search, .subscribe {
    position: relative;
    width: 270px;
    margin: 0 auto;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.search-field, .mail-field {
    box-sizing: border-box;
    width: 270px;
    height: 48px;
    padding: 0 63px 0 15px;
    outline: none;
    border: 1px solid transparent;
    background-color: #f4f7f6;
    font-family: "OpenSans Regular";
	font-weight: 400;
	font-size: 13px;
}

.search-field:focus,  .mail-field:focus {
border: 1px solid #b59f5b;
}

.search-field:hover,  .mail-field:hover {
border: 1px solid #b59f5b;
}

.search-button {
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0px;
    width: 48px;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
    cursor: pointer;
}

.search-button:hover, .mail-button:hover {
    background-color: #313131;
}

.subscribe {
    margin-top: 60px;
}

.mail-field {
    padding-right: 15px;
}

.mail-button {
    box-sizing: border-box;
    margin-top: 18px;
    width: 270px;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    font-size: 14px;
    font-family: "OpenSans Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.tags {
    margin-top: 60px;
}

.tag-list {
    display: flex;
	flex-wrap: wrap;
}

.tag-list-item {
    box-sizing: border-box;
    border: 3px solid #eeeeee;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tag-list-item:hover {
    border: 3px solid #b59f5b;
}

.tag-link {
    font-size: 12px;
    font-family: "OpenSans Bold", sans-serif;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
}

.categories {
    margin-top: 60px;
}

.categories-list {
    display: flex;
    flex-direction: column;
}

.categories-list-item {
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    font-family: "OpenSans Bold", sans-serif;
    font-weight: bold;
}

.categories-link {
    color: #000000;
    line-height: 47px;
}

.categories-link:hover {
    color: #b59f5b;
}

.index {
    color: #b59f5b;
    vertical-align: super;
    padding-left: 5px;
}

/* .footer {
    height: 83px;
}

.address {

}

.socials-list {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f7f5;
}

.social-item {

}

.social-link::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.social-link {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
}

.copyright {
    font-size: 12px;
    font-family: "OpenSans Bold", sans-serif;
    font-weight: bold;
    color: #999999;
} */

.socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83px;
    background-color: #f4f7f6;
}

.socials-list .social-item {
    margin: 0 15px;
}

.social-link::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.social-link-dribbble::before {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
}

.social-link-pinterest::before {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
}

.social-link-tumblr::before {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.copyright {
    display: block;
    margin-top: 74px;
    margin-bottom: 41px;
    text-align: center;
    color: #999999;
    font-size: 12px;
    font-family: "OpenSans Bold", sans-serif;
    font-weight: bold;
}